.container {
  gap: 15px;
  display: flex;
  flex-direction: column;
  .header {
    height: 45px;
    text-align: right;
    button {
      padding: 3px 15px;
      margin-left: 15px;
      border-radius: 5px;
      background: white;
      border: 1px solid;
      &:hover {
        background-color: #b9f3e4;
      }
    }
  }
  .title {
    font-size: 25px;
    padding: 15px 0;
    text-align: center;
    font-weight: 800;
  }
  .welcome {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
  }
  input {
    margin-bottom: 15px;
    margin-top: 3px;
    background: #b4e4ff;
  }
  .btn-submit {
    width: 100%;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 20px 0;
    color: #e9f8f9;
    background: #7db9b6;
  }
  .back {
    text-align: center;
    cursor: pointer;
    width: 200px;
    transition: width 0.3s;
    padding: 1px 5px;
    border-radius: 40px;
    background: #b4e4ff;
    color: #2b3467;
    text-decoration: none;
    margin: 0 auto;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
